body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
html {
  height: 100%;
}

header {
  display: flex;
  margin-bottom: 80px;
}
.logo img {
  padding: 0;
  margin-left: 30px;
}

/*menu*/

nav ul ul {
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav {
  margin: 0 auto;
  text-align: center;

  width: 80%;
}
nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
}
nav ul ul {
  padding: 0;
  position: absolute;
  top: 100%;
}
nav ul ul li {
  float: none;

  position: relative;
}
nav ul ul li a {
  padding: 15px 20px;
  color: black;
  width: 100%;
  text-align: left;
  font-size: 22px;
  border-left: rgb(129, 245, 239) solid 2px;
}
nav ul li a:hover {
  background-color: rgb(129, 245, 239);
}

nav ul ul li a:hover {
  background: rgb(129, 245, 239);
}
nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
.redes-sociais {
  float: right;
  padding: 20px 15px;
  margin: 10px;
  border-left: rgb(129, 245, 239) solid 3px;
}
.redes-sociais a {
  margin: 15px;
}
.redes-sociais img {
  width: 40px;
  position: relative;
} /* fim do menu
.redes-sociais img:hover {
  background: rgb(33, 226, 217);
}*/

.sobre-mim {
  border: #20e3b2 solid 2px;
  border-radius: 5px;
  padding: 40px 30px 100px 30px;
  margin: 100px auto;
  width: 50%;
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formacao {
  border: #0cebeb solid 2px;
  border-radius: 5px;
  padding: 40px 30px 100px 30px;
  margin: 100px auto;
  width: 40%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formacao #img {
  width: 50%;
  float: right;
}
.formacao p {
  font-size: 20px;
}
.formacao h2 {
  text-align: center;
}
.formacao img {
  width: 26%;
  position: relative;
}
h2 {
  text-align: center;
}
.projetos {
  width: 90%;
  height: auto;
  margin: 100px auto;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.site {
  border-top-left-radius: 40px;
  width: 30%;
  height: auto;
  margin: 20px 20px;
  padding: 20px;
  box-sizing: content-box;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btn {
  width: 8vw;
  padding: 8px;
  border: #007991 solid 2px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}
#btn span {
  text-align: center;

  color: black;
}
#btn a {
  font-family: "Rubik", cursive;
  text-decoration: none;
  font-weight: bold;
}

#btn:hover {
  background: #007991;
}
#btn span:hover {
  color: white;
}
.skill {
  margin: 0 auto;
  padding: 30px;
  display: flex;

  width: 90%;
  flex-wrap: nowrap;
  justify-content: center;
}
.hard-skills {
  border-left: rgb(129, 245, 239) solid 3px;
  width: 40%;
  height: auto;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 10px;
  text-align: center;
}
.soft-skills {
  border-left: rgb(129, 245, 239) solid 3px;
  width: 40%;
  height: auto;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 10px;
  text-align: center;
}

#form {
  width: 50%;
  margin: 100px auto;
}
fieldset {
  padding: 40px;
  border-radius: 10px;

  border: #29ffc6 solid 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  display: inline-block;
  text-align: left;
  width: 90px;
}
input,
textarea {
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  vertical-align: top;
}
.button {
  padding-left: 90px;

  margin-top: 40px;
  display: inline-block;
}

legend {
  font-weight: bold;
  font-size: 20px;
}
#formulario label {
  margin-bottom: 15px;
}

#copy {
  text-align: center;
}
/*Galeria de fotos*/
.gallery-container {
  width: 90%;
  position: relative;
  margin: 0 5%;
  background: #333;
  padding: 2px;
}

@media (min-width: 480px) {
  .gallery-container {
    width: 700px;
    height: 400px;
    margin: 20px auto;
  }
}
/*esconde as imagens por padrão */
.mySlides {
  display: none;
}

/* botões de proximo e anteior */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* posição do botão "proximo" */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.imgslide {
  width: 100%;
}

/* numeração (1/8 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .numbertext {
    top: 15px;
  }
}

/* animação fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.intro {
  width: 60%;
  margin: 100px auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
}
.tec {
  width: 70%;
  margin: 100px auto;
  box-sizing: border-box;
  padding: 5px;
}

#tec-left {
  margin-bottom: 5px;
}
.tecnologias {
  width: 80%;
  margin: 0 auto;
}
.tecnologias img {
  margin: 10px 8px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.tecnologias span {
  text-align: left;
}
button {
  padding: 6px;
  font-size: 16px;
  border: none;
  font-family: "Rubik", cursive;
  background-color: #20e3b2;
}
button:hover {
  background-color: #0cebeb;
}
footer {
  text-align: center;
  padding: 10px;

  background: #007991;
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);
  background: linear-gradient(to right, #78ffd6, #007991);

  color: black;
}
.btn-projeto {
  width: 14%;
  margin: 50px auto;
}
.btn-projeto button a {
  text-decoration: none;
  color: black;
}
