* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
/* propriedades do header */
header {
  background-color: #dbe3eb;
  display: flex;
  color: #3a3e3c;
  height: 60px;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}
header h2 a {
  color: #3a3e3c;
}

header h2 a:hover {
  color: orange;
}
header input {
  height: 30px;
}
/* propriedade do conteúdo princiapl (cards) */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-items: center;
}
/* propriedades dos cards */

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px grey;
  width: 200px;
}
.video-card a:hover {
  color: orange;
}
.imagem-card {
  width: 100%;
  height: 150px;
  margin-bottom: 8px;
}
.video-card p {
  padding: 8px;

  text-align: center;
  height: 36px;
}
footer {
  background-color: #3a3e3c;
  color: white;
  display: flex;
  height: 60px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}
/* paginas dos videos*/
#video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video video {
  width: 80%;
}
