* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}

.semana {
  border: 1px solid blue;
  width: 14%;
  padding: 5px;
}
.tarefa-riscada {
  text-decoration: line-through;
}
@media screen and (min-width: 320px) and (max-width: 420px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .semana {
    height: 25%;
    width: 80%;
  }
}
